# Python
__pycache__/
*.pyc
.venv/

# Environment / secrets
.env

# macOS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
tfplan
crash.log

# Athena / local outputs if needed
*.log
